
h1 { color: black; font-size: 30; text-align: center;}

p{ text-align: center; font-size: 20;}


@keyframes slidy {
    0% { left: 0px; }
    20% { left: 0px; }
    30% { left: -100%; }
    50% { left: -100%; }
    60% { left: -200%; }
    80% { left: -200%; }
    100% { left: 0px; }
}

#main_slide {width: 30%;}
#main_slide > div.wrap > div#slider {overflow: hidden; position: relative; left: 120%;}
div#slider > div > img {width: 33.333333333333333333333333%; float:left;}
div#slider > div { 
    position: relative;
    width: 300%;
    margin:0;
    top:0;
    left:0;
    text-align: center;
    font-size: 0;
    -webkit-animation: 20s slidy ease-in-out infinite;
    animation: 20s slidy ease-in-out infinite;

}

